order-details-actions .dropdown-menu {
  left: initial !important;
  right: 0; }

approve-cart {
  display: block; }

enter-payment {
  display: block; }

guest-checkout {
  background-color: #485052;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  font-size: 18px;
  align-items: center;
  min-height: 100vh;
  /* UMA specific */ }
  guest-checkout * {
    transition: .25s ease-in-out; }
  guest-checkout h2,
  guest-checkout a {
    color: #7B979E; }
  guest-checkout h2 {
    border-bottom: 2px solid #7B979E;
    margin: 0 0 .5em; }
  guest-checkout [icon=spinner] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  guest-checkout label {
    color: #fff;
    font-size: .75em;
    font-weight: normal;
    font-family: inherit;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translateY(-50%);
    z-index: 1; }
  guest-checkout input:valid + label,
  guest-checkout input:focus + label {
    color: #7B979E;
    font-size: .5em;
    left: 2em;
    transform: translateY(-150%); }
  guest-checkout input,
  guest-checkout select {
    font: inherit;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    width: 100%;
    padding: 1em 1em .25em;
    color: #fff;
    position: relative;
    z-index: 1; }
    guest-checkout input:focus, guest-checkout input:active,
    guest-checkout select:focus,
    guest-checkout select:active {
      border: none;
      outline: none; }
  guest-checkout select {
    font-size: .75em;
    padding: 1em; }
  guest-checkout button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    padding: 0.5em 1em;
    display: block;
    margin: auto; }
  guest-checkout .checkout-header {
    position: absolute;
    top: 2em;
    left: 50%;
    transform: translateX(-50%); }
  guest-checkout .checkout-header-logo {
    background: "";
    height: auto;
    width: auto;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto 1em; }
  guest-checkout .checkout-page-header {
    color: inherit;
    font-family: inherit; }
  guest-checkout .checkout-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    width: 85%; }
  guest-checkout .checkout-search-form {
    display: flex;
    gap: .5em;
    align-items: stretch;
    flex-flow: row nowrap;
    flex-grow: 1; }
  guest-checkout .checkout-form-group {
    position: relative;
    flex-grow: 1; }
    guest-checkout .checkout-form-group input {
      height: 100%; }
  guest-checkout .order-container {
    width: 100%; }
    guest-checkout .order-container .customer-flex {
      display: flex;
      flex-flow: row nowrap;
      gap: 2em; }
      guest-checkout .order-container .customer-flex > div {
        flex: 1 1 0px;
        margin-bottom: 4em; }
  guest-checkout .cc-form .flex-row {
    display: flex;
    gap: 1em; }
  guest-checkout .cc-form .checkout-form-group {
    margin-bottom: 1em; }
    guest-checkout .cc-form .checkout-form-group:first-of-type {
      margin-bottom: 1.5em; }
  guest-checkout .cc-form button {
    margin-top: 1.5em; }
  guest-checkout .expiration-label {
    display: block;
    position: initial;
    transform: initial; }
  guest-checkout .exp-field {
    flex: 1 1 0px; }

