auto-query-breadcrumbs {
  display: block; }

auto-query-headlines {
  display: block;
  text-align: center; }

aqhl-0 {
  font-size: 2em; }

aqhl-1 {
  font-size: 1.7em; }

aqhl-2 {
  font-size: 1.5em; }

auto-query-nav {
  display: block; }

auto-query-nav > div {
  margin: 2px 0 6px; }

auto-query-nav auto-query-nav {
  margin-left: 15px;
  margin-bottom: 15px; }

.sub-level-nav {
  margin-top: 8px; }

shopping-container auto-query-breadcrumbs {
  margin-bottom: 10px; }

