  /**umb_name:H1 */
  h1 { }
  
  /**umb_name:H2 */
  h2 { }
  
  /**umb_name:H3 */
  h3 { }
  
  /**umb_name:H4 */
  h4 { }
  
  /**umb_name:H5 */
  h5 { }
  
  /**umb_name:H6 */
  h6 { }

  /**umb_name:Lg Paragraph */
  p.intro { }

  /**umb_name:Paragraph */
  p { }

  /**umb_name:Light Text */
  .light-text { }

/**umb_name:Dark Text */
  .dark-text { }
body.mce-content-body {
   		font-size: 16px;
}
body.mce-content-body * {
		margin-top: 0;
}
body.mce-content-body .light-text {	
}
body.mce-content-body .serif {  
		font-family: "Playfair Display", serif;
}

