/*-------------------------------------------
  GLOBAL
  -------------------------------------------*/



product-list-shop-viewer .nav-link {
    text-decoration: none;
}

/* --BARB TEST START-- IMAGE SWAP */

/* Only apply to .swap-image.override-hover */
.swap-image.override-hover .mv-image:first-of-type {
  display: none !important;
}

.swap-image.override-hover .mv-image:nth-of-type(2) {
  display: block !important;
}

/* Prevent hover effects from overriding this */
.swap-image.override-hover:hover .mv-image {
  display: inherit !important;
}
}

/* --BARB-- */
.center-text {
  text-align: center;
}

.center-text h1,
.center-text h2,
.center-text h3,
.center-text h4,
.center-text h5,
.center-text h6,
.center-text p {
  text-align: center;
}

/*----------------------------
  SIGN IN
  ----------------------------*/



/*  ----------------------------------------------------------------------------------------------------
    10.0 ADVANCED PAGE COMPONENT
    ---------------------------------------------------------------------------------------------------- */






shopping-grid div.grid-item > div {
  min-height: 22px;
}
auto-query-nav auto-query-nav {
  margin-left: 12px;
}

.homeEmailSignup p {
  font-size: 250%;
  color: #fff;
  font-weight: 600;
  margin-top: 3px;
  padding-right: 10px;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
}

@media screen and (max-width: 767px) {
  .homeEmailSignup .input-group {
    padding: 0 15px 15px;
  }
  .homeEmailSignup .form-group {
    margin-bottom: 0;
  }

  #pos_1421 .col-md-4 {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .text-center-md-up {
    text-align: center;
  }
}






/*---------------------------
  BUTTONS
---------------------------*/




/*---------------------------
  SHOPPING
---------------------------*/

.panel {
  border: none;
}

shopping-multi-view #site > header-right-pre > a:nth-child(1) {
  display: none;
}
shopping-multi-view auto-query-header > div,
shopping-multi-view auto-query-header .pull-md-right,
shopping-multi-view auto-query-header .pull-md-right > span,
shopping-multi-view auto-query-header .pull-md-right page-sizes {
  display: flex;
  align-items: center;
}
shopping-multi-view auto-query-header .pull-md-right {
  margin-left: auto;
}
auto-query-#site > header .text-warning,
shopping-multi-view .text-warning {
  color: #fff;
}
shopping-multi-view .filters-bottom-section nav {
	display: none;
}

shopping-one-up-details u {
  text-decoration: none;
  letter-spacing: 1.5px;
}

shopping-one-up .image-swatch {
  border-radius: initial;
  border: none;
}
/* Grid View */
shopping-container shopping-item-image .badge-icon-wrap {
  left: 1rem;
}

shopping-container .badge-icon-wrap.right {
  right: 40px;
  left: auto;
}

shopping-container shopping-item-image .badge-icon-wrap.right .badge-icon {
  height: 55px;
}




shopping-multi-view-masonry a.zoom.label {
  height: 3em;
  width: 3em;
  bottom: -1em;
}
shopping-multi-view-masonry .grid-image-container {
  overflow: initial;
}
shopping-multi-view-masonry a.zoom.label i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


span.grid-item-badge.badge {
  margin-right: 3px;
  padding: 3px;
  font-size: 80%;
}

span.grid-item-badge.badge.badge-best-seller {
  background-color: #4a4a4a;
}

span.grid-item-badge.badge.badge-new {
  background-color: #b90000;
}

span.grid-item-badge.badge.badge-show-favorite {
  background-color: #8e8e8e;
}

.shopping-labels a.one-line {
  font-size: 10px;
}


shopping-one-up-image .shadow-effect-2:after,
shopping-one-up-image .shadow-effect-2:before,
shopping-one-up-image .shadow-effect-3:before,
shopping-one-up-image .shadow-effect-4:after {
  display: none;
}


/*.flexboxlegacy .info .detail-item {
	height: 28px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}*/

shopping-grid p.grid-item-text.sm,
shopping-multi-view-cards p.grid-item-text.sm {
  font-weight: normal;
}


@media (max-width: 767px) {

  .filters-bottom-section .panel .collapse {
    max-height: 100% !important;
  }
  .filters-bottom-section .auto-query-nav-panel-btn {
    padding: 4px 3px !important;
  }
  shopping-multi-view .filters-open {
    width: 100%;
    min-width: 100%;
  }
  shopping-multi-view .row {
	  flex-wrap: wrap;
  }
  .auto-query-nav-panel-btn .pull-left span {
    font-size: 14px;
  }
}

/* One Up 
product-slider .grid-item-text {
  height: auto;
  margin: 6px 0 2px;
  text-align: center;;
}
product-slider .ui-carousel .track {
    display: flex;
    align-items: stretch;
}
product-slider .ui-carousel .slide {
    height: initial;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}
.related-items product-slider .ui-carousel .slide {
  justify-content: flex-start;
} */


.auto-refinements span.label {
  margin-right: 2px;
}

.auto-refinements span.label i.fa {
  margin-right: 0;
}


/*------------------------------
CHECKOUT 
 -----------------------------*/
checkout .ui-select-container.ui-select-multiple.ui-select-bootstrap {
  padding: 0;
}



/*---------------------------
  HOME
---------------------------*/


.grid-section-no-padding-bottom section {
  padding-bottom: 0;
}




/*---------------------------
  ADMIN AREA
---------------------------*/

nav#admin-nav {
  z-index: 10000;
}

#admin-nav a {
  font-size: 14px;
}

@media (max-width: 767px) {
  nav#admin-nav .navbar-toggle {
    margin-top: 7px;
    margin-right: 22px;
  }

  nav#admin-nav .container > .navbar-#site > header,
  nav#admin-nav .container-fluid > nav#admin-nav .navbar-#site > header,
  nav#admin-nav .container > .navbar-collapse,
  nav#admin-nav .container-fluid > .navbar-collapse {
    margin-right: -11px;
    margin-left: -11px;
    margin-top: 48px;
  }
}

nav#admin-nav a.navbar-brand {
  text-transform: uppercase;
}

nav#admin-nav a {
  color: #777777;
}

dashboard-items-sold .bg-ibox-t-purple {
  color: #fff;
  background-color: #000;
}

dashboard-items-abandoned .bg-ibox-t-purple {
  color: #fff;
  background-color: #5f5f5f;
}

dashboard-items-viewed .bg-ibox-t-purple {
  color: #fff;
  background-color: #969696;
}

/*---------------------------
  QUICK STOCK CHECK TOOL
---------------------------*/
.qsct-bg-1 {
  background-color: #e82947;
}

.qsct-bg-2 {
  background-color: #babbbc;
}

.qsct-bg-3 {
  background-color: #e6e6e6;
}

.quick-stock-checker-wrap {
  height: 100%;
  min-height: 736px;
  min-height: 100vh;
}

.quick-stock-checker-wrap .input-group-addon i.fa {
  margin-right: 0;
}

.checker-welcome {
  padding-top: 50px;
}

.checker-welcome img {
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.27);
}

.qsct-welcome-message {
  color: #fff;
  font-size: 2.5em;
  margin-top: 30px;
  margin-bottom: 25px;
  letter-spacing: 6px;
}
.logo-wrap img {
  background-color: #fff;
  width: 100%;
  max-width: 250px;
  height: auto;
}

.logo-wrap-sm {
  padding-right: 6px;
}

.logo-wrap-sm img {
  background-color: #fff;
  width: 100%;
  max-width: 60px;
  height: auto;
}

.btn-qsct {
  border: none;
}

.btn-qsct-check {
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.18);
}

.btn-qsct-check,
.btn-qsct-check:hover,
.btn-qsct-check:active {
  font-size: 3em;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 20px;
}

.btn-qsct-check:hover,
.btn-qsct-check:active {
  letter-spacing: 1px;
}

.qsct-sm-#site > header > div {
  display: inline-block;
}

.qsct-sm-#site > header-text {
  vertical-align: top;
  padding-top: 11px;
}

.qsct-sm-#site > header-text div {
  font-size: 17px;
  color: #fff;
  line-height: 1.3;
  letter-spacing: 2px;
}

.qsct-search-#site > header {
  color: #fff;
  font-size: 4em;
  font-weight: 600;
  margin-top: 140px;
  margin-bottom: 30px;
}

.qsct-search-wrap {
  margin: 0 15px;
  padding: 3px;
  background-color: #777;
  border-radius: 10px;
  box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.41);
}

.qsct-search-wrap input {
  border-radius: 0 6px 6px 0;
}

.qsct-search-wrap .input-group-addon {
  border-radius: 6px 0 0 6px;
}

.qsct-search-text-sub {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1.5px;
}

.qsct-current-list {
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 4px;
}

.qsct-current-list span {
  font-weight: 600;
}
.qsct-product-info .qsct-product-image {
  max-width: 200px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  margin: 5px auto 10px;
  border-radius: 15px;
  overflow: hidden;
}

.qsct-product-info .qsct-product-name {
  margin-top: 0;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}

.qsct-product-info .qsct-retail-price {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
}

.qsct-product-info .qsct-retail-sku {
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
}

.qsct-product-info .qsct-color-choice {
  color: #fff;
  letter-spacing: 1px;
  font-size: 14px;
  margin-bottom: 7px;
}

.qsct-in-stock-wrap {
  max-width: 180px;
  width: 100%;
  margin: 0 auto 15px;
  height: auto;
}

.qsct-color-options-#site > header {
  margin: 5px 0;
  letter-spacing: 1px;
  font-size: 12px;
}

.qsct-colors-center {
  margin-bottom: 10px;
}

.btn-qsct-red {
  background-color: #e82947;
  border-color: #e82947;
}
.btn-qsct-gray {
  background-color: #777;
  border-color: #777;
}

.btn-qsct-light-gray {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  color: #777;
}

.btn-md-font {
  font-size: 14px;
}

.qsct-colors-center .slick-prev,
.qsct-colors-center .slick-next {
  width: 28px;
  height: 50px;
  background-color: rgba(33, 33, 33, 0.3);
}

/* QSCT MEDIA QUIERIES */

@media (max-width: 414px) {
  .qsct-product-info .qsct-product-image {
    max-width: 260px;
    max-height: 260px;
    margin: 10px auto 10px;
  }
  .checker-welcome {
    padding-top: 115px;
    padding-top: 28vw;
  }
}

@media (max-width: 375px) {
  .checker-welcome {
    padding-top: 85px;
    padding-top: 21vw;
  }
  .qsct-welcome-message {
    font-size: 8vw;
    margin-top: 5vw;
    margin-bottom: 4vw;
    letter-spacing: 1vw;
  }
  .qsct-search-#site > header {
    font-size: 4em;
    font-size: 9vw;
    margin-top: 140px;
    margin-top: 35vw;
    margin-bottom: 8vw;
  }
  .qsct-search-text-sub {
    font-size: 5vw;
  }
  .qsct-product-info .qsct-product-image {
    max-width: 200px;
    max-height: 200px;
    margin: 10px auto 10px;
  }
}

@media (max-width: 360px) {
  .qsct-product-info .qsct-product-image {
    max-width: 180px;
    max-height: 180px;
    margin: 10px auto 10px;
  }
}

@media (max-width: 320px) {
  .qsct-product-info .qsct-product-image {
    max-width: 150px;
    max-height: 150px;
    margin: 5px auto 10px;
  }
  .qsct-product-info .qsct-product-name {
    font-size: 18px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .qsct-product-info .qsct-product-image {
    max-width: 500px;
    max-height: 500px;
    margin: 25px auto 10px;
  }
  .qsct-product-info .qsct-product-name {
    margin-top: 30px;
  }
  .qsct-in-stock-wrap {
    margin-bottom: 30px;
  }
  .row.m-a-0.qsct-buttons-bottom {
    margin-top: 30px !important;
  }
}

/* IPAD SPECIFIC */
@media all and (width: 768px) and (height: 1024px) and (orientation: portrait) {
  .checker-welcome {
    padding-top: 270px;
  }
}

@media all and (width: 768px) and (height: 1024px) and (orientation: landscape) {
  .checker-welcome {
    padding-top: 160px;
  }
}






.lbis-outer {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 4rem;
}

.lbis-inner {
  flex-basis: 100%;
}

.lbis-inner .img-responsive {
  width: 100%;
}

.lbis-outer .lbis-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  -webkit-transition: opacity 450ms ease-in-out 0s;
  transition: opacity 450ms ease-in-out 0s;
}

.lbis-outer:hover .lbis-text,
.lbis-outer:active .lbis-text,
.lbis-outer:focus .lbis-text {
  opacity: 1;
}

@media (max-width: 767px) {
  .lbis-outer .lbis-text {
    opacity: 1;
  }

  .lbis-outer .lbis-text {
    align-items: flex-end;
  }
}

.lbis-text-inner {
  height: 50px;
  padding: 0 10px;
  font-size: 14px;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  color: #444;
}


.ekko-lightbox {
  padding: 15px;
}
.ekko-lightbox-nav-overlay {
	display: flex !important;
	justify-content: space-between;
}
.ekko-lightbox-nav-overlay > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-page .ekko-lightbox img {
  max-height: 100% !important;
}

@media (min-width: 1200px) {
  .ekko-lightbox .modal-header,
  .ekko-lightbox .modal-body,
  .ekko-lightbox .modal-content,
  .ekko-lightbox .modal-footer,
  .ekko-lightbox .modal-dialog {
    min-width: 100%;
    max-width: 100%;
  }
}



.ekko-lightbox-container img {
	max-height: initial !important;
}




.form-group {
    margin:0;
}

.btn-xs:not(.ibox .btn-xs) {
  font-size: 12px;
  padding: .5em;
}


shopping-one-up .oneUp-row .row:not(.description-block) {
  margin: 0;
}
shopping-one-up .oneUp-row .row:before,
shopping-one-up .oneUp-row .row:after {
  display: none;
}
shopping-one-up .oneUp-row .MagicScroll.MagicScroll-vertical {
  height: 100% !important;
}



.registration-columns {
  margin: 2em auto;
}
.registration-columns .row {
  align-items: stretch;
  gap: 4em;
}
.registration-columns .column > div > div {
  gap: 2em;
}

.registration-columns .column > div,
.registration-columns .column > div > div,
.registration-columns .column login,
.registration-columns .column form {
  height: 100%;
}
.registration-columns .column form {
  display: flex;
  flex-direction: column;
}
.registration-columns .column form button {
  margin-top: 1em;
}
.registration-columns .column form div:last-of-type,
.registration-columns .column > div > div > button {
  margin-top: auto;
}

.registration-columns .column {
  padding: 0 3em 2em;
  border: 2px solid #41636d;
}
.registration-background {
  background-color: #41636d;
  color:  #fff;
  padding:  1em 3em 2em;
  margin: 0 -3em;
}

.registration-background h2 {
  display: flex;
  justify-content: space-between;
  margin-top: .66em;
}

.registration-background h2 img {
  width: 2em;
}

.registration-background h2 span {
  width: min-content;
}
.registration-columns .btn-register {
    display: none;
}
@media (max-width: 1420px) {
  .registration-columns .row {
    gap: 2em;
  }
  .registration-columns .column {
    padding: 0 2em 2em;
  }
  .registration-background {
    padding: 1em 2em 2em;
    margin: 0 -2em;
  }
}
@media (max-width: 1250px) {
  .registration-columns .row {
    gap: 1em;
  }
  .registration-columns .column {
    padding: 0 1em 2em;
  }
  .registration-background {
    padding: 1em 1em 2em;
    margin: 0 -1em;
  }
}
register-retailer .btn-toolbar {
  display: none;
}
register-retailer .form-control {
  font: inherit;
  margin-bottom: 1em;
  background: #f0f0f0;
}
register-retailer label {
  margin-left: .5em;
}
register-retailer .form-group [type=submit] {

  padding: 0.25em 4em;
}
register-retailer h4,
register-retailer label {
  text-transform: capitalize;
}

register-retailer .formio-component-columns .col-md-6 {
  padding: 0;
  width: calc(50% - 1em);
}







.badge-icon-wrap.left img.img-contain {
  width: 5em;
}



/*cart-item-input .entry-container {
  flex-direction: column;
  gap: 1em;
}*/

cart-item-input .entry-container .row {
  display: flex;
  flex-flow: row;
  width: 100%;
  gap: 2em;
  align-items: center;
}
.auto-add-row .btn-group {
  margin-left: auto;
}
.auto-add-row .input-group {
  flex-grow: 1;
}
.auto-add-row-2 {
  justify-content: center;
}
cart-item-input .entry-container .row:before,
cart-item-input .entry-container .row:after {
  display: none;
}
.auto-add-block {
  width: initial;
}

.featured-slider-caption {
  display: none !important;
}

product-list-dropdown-menu .dropdown-menu > div {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
product-list-dropdown-menu .dropdown-menu > div .c-w-85 {
  flex-grow: 1;
}

.customer-dashboard-tabs .nav-tabs > li:nth-of-type(2) a,
.customer-dashboard-tabs .nav-tabs > li:nth-of-type(3) a,
.customer-dashboard-tabs .nav-tabs > li:nth-of-type(4) a {
    background: #f0f0f0;
    border: 1px solid black;
}
.customer-dashboard-tabs .nav-tabs > li.active a {
  border-bottom: 1px solid transparent;
}


.pn-sign-up login-fieldset {
    display: block;
    margin-bottom: 1em;
}

login-fieldset [form-group] .form-group {
  flex-direction: column;
  align-items: flex-start;
}
login-fieldset [form-group] .form-group > div {
  flex-grow: 1;
  width: 100%;
}


table label.btn {display: flex; align-items: center; justify-content: center;}
table .toggle.btn {width: 7em !important;}
table label.btn-primary {margin-left: -1em;}
table label.btn-default {margin-right: -1em;}

auto-query-header product-list-dropdown-menu {
    display: none;
}


product-list-shop-viewer shopping-multi-view-cards .grid-product-wrap > * {
  flex: 1 1 0px !important;
}

shopping-add-to-list .dropdown-menu {
  z-index: 1049;
}




.people-blocks {
  display: flex;
  flex-flow: row wrap;
  gap: 2em;
  justify-content: center;
  text-align: center;
}
.people-blocks .person {
  width: calc(33.33% - 1.3333em);
}
.people-blocks img {
  display: block;
  margin: 0 auto 1em;
  width: 75%;
}
.people-blocks .title {
  font-size: 1em;
  font-weight: 400;
  font-family: "Avenir Medium", sans-serif;
  line-height: 1.2;
}
.person h3 {
    font-size: 1.25em;
}
.person .text-block {
    display: flex;
    flex-direction: column;
    gap: .333em;
}
.rep-location-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rep-location-actions select {
	width: 20em;
}
.rep-location-actions option {
	font-size: 14px;
}
.rep-location-actions .btn {
	width: 8em;
}




.editorial-page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 28em;
    width: 60em;
    overflow: hidden;
    box-shadow: 2px 2px 4pc rgb(0, 0, 0, .5);
	background: #fff;
	z-index: 9999;
}
.editorial-page .image-block {
	height: 0;
    position: sticky;
    top: 0;
    width: 33.33%;
    padding-bottom: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.editorial-page .text-block {
  width: 60%;
  float: right;
}
.editorial-page .carousel-control {
  background-image: none;
	top: 50%;
	bottom: initial;
	transform: translateY(-50%);
}
.editorial-page .carousel-inner {
  overflow: initial;
	height: 100%;
}
.editorial-page .carousel-caption {
  border-bottom: 1px solid #ccc;
  color: inherit;
  font-size: 1em;
  margin: 1em 1em 0;
  position: initial;
  text-shadow: initial;
}
.editorial-page h4 {
  font-size: 1em;
  text-align: left;
}
.editorial-page .carousel-inner > .item {
	overflow: auto;
	height: 100%;
}
.editorial-page .item > * {
  width: 50%;
  display: block;
}
.editorial-page .item > .text-block {
  float: right;
	width: 60%;
}

.editorial-page .grid-item {
  width: 100%;
}
.editorial-page .grid-product-wrap {
  align-items: center;
  display: flex;
  gap: 1em;
  width: 100%;
}
.editorial-page .grid-product-wrap > * {
  flex: 1 1 0px;
  width: initial;
}
.editorial-page .multi-view-reveal.text-center {
  text-align: left;
}
.editorial-page .actions {
  display: flex;
  gap: 1em;
}
.editorial-page .grid-item-badges {
  display: none;
}
.editorial-page shopping-grid {
  display: block;
  width: 100%;
  height: 23.75em;
  overflow-y: auto;
}



product-features panel .btn-link {
  padding-left: 0;
}

header .top-nav-ul > li {
	display: initial;
}


.closed { 
	display: none; 
}
.open {
	display: block;
}

.contact-page main .container {
  max-width: 1200px;
}




catalog-details .hotspot.outline {
    stroke: none;
}
catalog-details .hotspot:hover {
    fill: rgba(162, 214, 224, 0.3);
}
catalog-list-cards > .row {
	flex-wrap: wrap;
}
catalog-list auto-query-header {
	display: none;
}

.small-page main .container,
.small-page:not(body) {
	max-width: 60rem;
	margin-left: auto;
	margin-right: auto;
}
.small-page main .container:before,
.small-page:not(body):before,
.small-page main .container:after,
.small-page:not(body):after {
  display: none;
}




.promotion {
    margin-right: auto;
    margin-left: auto;
	position: relative;
	z-index: 3;
	
}

.promo-banner-link {
    display: inline-block !important;
    padding: .5em;
}

header #navbar-collapse-grid .dropdown-menu a.btn-primary {
	font-weight: bold;
}




.product-sheets-page .column > div > div {
	flex-flow: row wrap;
	gap: 2em;
	justify-content: center;
}
.product-sheets {
	margin-top: 2em;
	width: calc(33.33% - 1.333em);
}
.product-sheets .overlay {
	background: gray;
}
.product-sheets .overlay img {
	opacity: .7;
}
.product-sheets .overlay:hover img {
	opacity: 1;
}
.product-sheets > a {
	display: flex;
	height: 100%;
	gap: 1em;
	flex-direction: column;
	color: inherit;
	text-decoration: none;
}
.product-sheets h3,
.coverage h3:not(.editorial-page h3) {
    font-size: 1.25em;
    font-family: "Avenir Light", sans-serif;
    font-weight: 700;
    text-align: center;
	flex-grow: 1;
}
.coverage h3:not(.editorial-page h3) {
  min-height: 3em;
}
.coverage main .column {
  margin-top: 2em;
}

.claim-explanation {
	display: none;
}
ibox-toolbar a {
    color: inherit;
    text-decoration: none;
}
.make-payment-button {
	display: none;
}


.panel-terms {
    height: 20em;
    overflow-y: scroll;
}


header .navbar-collapse .site-search button {
	line-height: 0;
	height: 100%;
	padding: 0;
}

.in #page-menu-mobile {
  transform: translateX(0);
}


.register-retailer-modal figure.image {
  margin: 0 -2em;
  /* border: 1px solid; */
}

.register-retailer-modal .modal-body {
  padding-top: 0;
}
.register-retailer-modal .modal-title { display: none; }
.hidden-closed {
    display: none !important;
}
.collapse.in .hidden-closed {
    display: block !important;
}
.collapse.in .hidden-open {
    display: none;
}


.modal .modal-content .modal-footer modal-footer > div {
	width: initial;
}



cart-dropdown-menu a, cart-dropdown-menu .col-xs-2 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
cart-list-item-actions h4 {
  font-size: 1.25em;
}
cart-list-item-actions h4 small {
    display: block;
}
cart-list-item-actions .remove-cartitem {
    border-color: transparent !important;
}
.cart-item-row .qty-wrap {
	flex: 0 !important;
	min-width: 10em;
}
.empty-cart-notice {
  flex-direction: column;
  margin-top: 3em;
}
.mobile-menu-logo,
.navigation .close-btn {
  display: none;
}
@media (max-width: 1450px) {
	header .top-header .top-nav a, header .top-header .top-nav button {
		padding: .75em;
	}
	header .navbar-collapse .site-search {
		width: 10rem;
	}
}
/*@media (max-width:1200px) {
  .navbar-header {
    display: block;
    margin-left: auto;
    margin-right: -1em;
  }
  .container,
  main .grid-section .container,
  body.homepage #site > header,
  .buckets {
      padding: 0 0em;
  }
  catalog-container {
    display: block;
    padding: 0 1em;
  }
  .navigation .reveal {
      position: fixed;
      transition: ease-in-out .5s;
      top: 0;
      left: 0;
	  bottom: 0;
      height: 100% !important;
      overflow-y: auto;
      background-color: #eee;
      transform: translateX(-100%);
      padding: 1em 0 2em;
      width: 100%;
      z-index: 9999;
  }
  .mobile-menu-logo {
    display: block;
    margin: auto;
    width: 100%;
    max-width:  10em;
	height: 4em;
  }
  .reveal.in {
      transform: translateX(0);
  }
  header > .container > .row {
      align-items: flex-start;
  }
  .yamm .nav {
	  background-color: transparent;
	  display: flex;
      flex-flow: column nowrap;
  }
  
  .shopping-cart-dropdown-menu .row {
    margin: 0;
  }
  .dropdown-menu:not(.top-header .dropdown-menu):not(shopping-multi-view .dropdown-menu) {
      background-color: transparent;
      float: initial;
      position: initial;
      box-shadow: initial;
  }
  .dropdown-menu .column:last-of-type {
      display: none;
  }
  .dropdown-menu div,
  .dropdown-menu.yamm > .dropdown.yamm .mega-links {
      padding: 0;
  }
  .dropdown-menu [class*="col-"] {
      float: none;
  }
  .dropdown-menu .row:not(.shopping-cart-dropdown-menu .row) {
      flex-flow: column nowrap;
      gap: 0;
  }
  header .navbar-collapse .site-search button {
    padding: 0 .25em 0 .666em !important;
    color: #000;
    width: initial !important;
    height: 100% !important;
    border: none !important;
    right:  initial;
  }
  .search-field .site-search input {
    padding-left: 2.33em;
  }
  .shopping-cart-dropdown-menu {
    position: absolute;

  }

  .navigation nav.top ul > li {
    margin: 0;
  }

  .navigation .close-btn {
	display: initial;
	position: absolute;
	top: 0;
	right: 0;
	color: rgba(0, 0, 0, .5);
	font-size: 2em;
	font-weight: bold;
	padding: 0 .5em 1em 1em;
	z-index: 9999;
}

  header .navbar-collapse .site-search {
    width: 100%;
    max-width: initial;
  }


  .sign-in  {
    display: flex;
    gap: .25em;
    border-bottom: 1px solid;
  }
  .sign-in span {
    font-size: 1em;
    display: block;
  }
  .promo-image {
	  display: none;
  }
  header .top-header #menu-collapse-grid {
    display: none;
  }
  header #navbar-collapse-grid .dropdown-menu {
    position: initial;
    transform: initial;
	background-color: transparent;
	box-shadow: initial;
  }
  .navbar-nav .dropdown-menu,
  #navbar-collapse-grid,
  #menu-collapse-grid,
	.top-header #page-menu-mobile,
	#menu-collapse-grid-mobile,
	#user-collapse-grid-mobile {
	  display: none !important;
  }
	.open > .dropdown-menu,
  .navbar-nav .open .dropdown-menu,
	#navbar-collapse-grid.in,
	.bottom-header #menu-collapse-grid.in,
	.open #menu-collapse-grid,
  .open #navbar-collapse-grid,
	#menu-collapse-grid-mobile.in,
	.open #menu-collapse-grid-mobile,
	.open #user-collapse-grid-mobile {
	  display: block !important;
  }

  product-list-dropdown-menu {
	  display: block;
  }
  product-list-dropdown-menu button.btn-link {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  flex-grow: 1;
	  flex-direction: row-reverse;
  }
  product-list-dropdown-menu .btn-link:before,
  product-list-dropdown-menu .btn-link:after {
	  display: none;
  }
  product-list-dropdown-menu .btn-xs {
    width: initial;
    padding: .5em 1.5em !important;
  }
  
  .emun-nav .btn-group {
	  display: block;
  }
  .emun-nav .btn-group > .btn, 
  .emun-nav .btn-group-vertical > .btn {
	  float: initial;
  }
	
}*/


@media (max-width: 760px) {
	.accordion-dates .panel-wrapper {
		flex-direction: column;
	}
	.accordion-dates .date {
		width: 100%;
		text-align: left;
		justify-content: center;
		height: initial;
	}
	.accordion-dates .panel {
		width: 100%;
	}
	.carousel-item {
		display: flex;
    	flex-direction: column-reverse;
    	width: 100%;
		align-items: center;
	}
	
}

@media (max-width: 600px) {
  .product-sheets-page .column > div > div {
    align-items: center;
    flex-flow: column nowrap;
  }
  .product-sheets {
    width: 100%;
  }
 
}

shopping-add-to-list .open > .dropdown-menu {
	max-height: 90vh;
	overflow-y: auto;
	
}

shopping-one-up shopping-add-to-list .open > .dropdown-menu {
	right: auto;
	left: 0;
}
shopping-add-to-list .open > .dropdown-menu > div {
	margin: auto;
}

.gtranslate-div {
    margin-top: 1em;
}
#language-select {
    border: 1px solid;
    padding: .25em;
}